:root {
    --fundo-principal: #F9FAFB;
    --cores-tarefas: #FFFFFF;
    --texto-principal: #111827;
    --textos-concluido: #6B7280;
    --botao-principal: #3B82F6;
    --botao-secundario: #9CA3AF;
    --delete: #EF4444;
    --bordas: #E5E7EB;
    --hover: #6398bb;
    --font: 'Courier New', Courier, monospace;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo-principal);
    height: 100vh;

}

.container .titulo {
    font-size: 5em;
    margin: 1em 5em;
    font-family: var(--font);
    color: var(--texto-principal);

}

.formulario input {
    margin: 0 .8em;
    font-size: 20px;

}

.formulario .botao-adicaonar {
    cursor: pointer;
    font-size: 1.2em;
    background-color: var(--botao-principal);
    border: none;
    padding: 0.2em 1em;
    border-radius: .6em;
    color: var(--fundo-principal);
    transition: ease-in-out 300ms;
}

.formulario .botao-adicaonar:hover {
    background-color: var(--hover);

}


.formulario label {
    text-transform: uppercase;
    font-family: var(--font);
    font-size: 20px;

}


.container .tarefas-adicionadas {
    font-size: 1.5em;
    margin: 1em 0em;
    font-family: var(--font);


}

.container .tarefas-adicionadas li {
    margin: .5em 0em;

}

.tarefas-adicionadas .tarefa-concluida {
    background-color: var(--textos-concluido);
    text-decoration: line-through;

}

 .botao-limpar {
    border: none;
    font-size: 20px;
    background-color: var(--botao-secundario);
    padding: .8em;
    border-radius: 1em;
    cursor: pointer;
    color: var(--fundo-principal);
    transition: ease-in-out 300ms;


}

 .botao-limpar:hover {
    background-color: var(--hover);

}